<div id="footer">
	<p class="terms">This is a free service to make posting long urls easier. If you use it for spamming or illegal purposes, your url will be disabled. <%= link_to 'Report abuse?', '/abuse' -%></p>

	<div id="bookmarklet">
		<p>Drag the blue link below to the bookmarks bar of your browser to shrink urls with a single click.</p>
		<p id="action">
			<a href="javascript:void(location.host=='maps.google.com'?location.href='http://bloat.me/remote?website_url='+encodeURIComponent(document.getElementById('link').href):location.href='http://bloat.me/remote?website_url='+encodeURIComponent(location.href))">Bloat.me</a>
		</p>
	</div>
	<p><%= link_to 'Why bloat me?', '/about' -%> Share your ideas and suggestions via <a href="http://nokahuna.com/projects/968" title="All work on Bloat.me is managed with No Kahuna">No Kahuna.</a><br />Created by <a href="http://plasticshore.com" title="Alexander Kohlhofer's site">plasticshore.com</a> & <a href="http://halethegeek.com/">Hale The Geek.</a></p>

</div>

