<div id="footer">
	
	<div id="bookmarklet">
		<p>Drag the blue link below to the bookmarks bar of your browser to shrink urls with a single click.</p>
		<p id="action">
			<a href="javascript:void(location.host=='maps.google.com'?location.href='http://bloat.me/remote?website_url='+encodeURIComponent(document.getElementById('link').href):location.href='http://bloat.me/remote?website_url='+encodeURIComponent(location.href))">Bloat.me</a>
		</p>
	</div>
	<p><strong>Use Bloat.me to make long urls short.</strong><br /><%= link_to 'Why bloat me?', '/about' -%> Share your ideas and suggestions via <a href="http://nokahuna.com/projects/968">No Kahuna.</a></p>
	<p>&copy;2008-<%= Time.now.strftime('%Y') %>, created by <a href="http://plasticshore.com">plasticshore.com</a>, mad sys admin skills provided by <a href="http://halethegeek.com/">Mike Hale</a>.</p>
</div>

