<div id="info_content">
<h1>What is Bloat.me?</h1>

<p>Based on the open sources by <a href="http://www.planetargon.com/" title="Design, Development, and Hosting with Ruby on Rails">PLANET ARGON</a></p>
</div> <!-- end info_content -->

