<div id="content">
<h1>Report Abuse</h1>
<p>We hate spam just as much as you do.</p>
<p>Unfortunately, we cannot prevent people from using our service and pasting links into spam emails, wiki pages, and blog comments. Please <A href="mailto:bloatme@gmail.com">send us an email</a> to report any offending url and we'll flag it for review.</p>
<p>Many thanks!</p>

<div id="tryAgain">
	<%= link_to 'Home page', '/' -%>
</div>

<p>
</div>

