<div id="content">
<h1>Ugh oh! That url looked ... funny</h1>

<p>Urls need to be entered with http:// and all. Like <a href="http://plasticshore.com">http://plasticshore.com</a> for example. If you think we got it wrong let us know over on <a href="http://nokahuna.com/projects/968">No Kahuna</a>, please.</p>

<div id="tryAgain">
	<%= link_to 'Try again?', '/' -%>
</div>
