env: &env
  adapter: mysql
  encoding: utf8
  username: root
  password:
  host: localhost

development:
  <<: *env
  database: bloat.me_development

test:
  <<: *env
  database: bloat.me_test

production:
  <<: *env
  database: bloat.me_production
